<!--  SiGN in Form  -->
<div class="container-fluid">
  <div class="container" style="margin-top:120px">
  <div class="mainbox col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2 loginbox">
    <div class="panel panel-info"> 
      
      <div class="panel-heading"> 
        <div class="panel-title"> Sign In 
          <button type="button" class="close text-right" (click)="Closer()" style="width:fit-content; color:black">&times;</button>
        </div> 
      </div> 
        
      <div class="panel-body panel-pad">   
        <form #loginForm="ngForm" (ngSubmit)="LoginSub(loginForm)" class="form-horizontal" role="form">
          <div class="input-group margT25"> 
              <!-- <select class="form-control trcont" name="role" required [(ngModel)]="ROLES.USER" style="width:125px;padding:5px;">  
                <option *ngFor="let key of ROLES_DDL" [value]="ROLES[key]">{{ROLES[key]}}</option>
              </select> -->
            <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
            <input type="text" class="form-control" name="userName" placeholder="ID / Email" required ngModel> 
          </div>
              
          <div class="input-group margT25"> 
            <span class="input-group-addon"><i class="glyphicon glyphicon-lock"></i></span> 
            <input type="password" class="form-control" name="password" placeholder="Password" required ngModel> 
          </div>
          
          <div class="row slips">
            <div class="col-md-4">
              <div class="input-group"> 
                <div class="checkbox"> 
                  <label><input type="checkbox" name="remember" ngModel> Remember me </label> 
                </div> 
              </div>
            </div>

              <div class="col-md-4"> 
                  <a href="#"><h5>Forgot password ?</h5></a> 
              </div>

              <div class="col-md-4 text-center"> 
                  <a (click)="RegDirec()"><h5>New User ?</h5></a> 
              </div>
            
          </div>
          <br>
          <div class="form-group margT10"> 
            <div class="col-sm-12 controls"> 
              <button type="submit" class="btn btn-block btn-success">Login </button> 
            </div>
          </div>            
        </form> 
      </div> 
    </div>
    <div *ngIf="Checker" class="alert alert-danger">
            Invalid Credentials !!! You have {{trials}} trials remaining
    </div>
    <div *ngIf="blocker" class="alert alert-warning">
            Your Account Has Been Disabled. Kindly Contact Us for Re-Activation
    </div>
    <div *ngIf="adChecker" class="alert alert-success">
            Admin Found !!!
    </div>
    <div *ngIf="usChecker" class="alert alert-success">
            User Found !!!
    </div> 
  </div>
</div>
</div>


<!--  Footer  -->
<div>
<footer class="containerAbc nav-folderized">
    <div class="row">
        <div class="col-md-2 ftr__list nav">
           <h4 class="heady">About Us</h4>
            <ul>
               <hr>
                <li class="items">Our Company</li>
                <li class="items">Our Partners</li>
                <li class="items">Terms & Conditions</li>
                <li class="items">FAQs</li>
            </ul>
        </div>
        <div class="col-md-2 ftr__list nav">
          <h4 class="heady">Delivery Preference</h4>
            <ul>
                <hr>
                <li class="items">Standard</li>
                <li class="items">Express</li>
                <li class="items">Custom</li>
            </ul>
        </div>
        <div class="col-md-2 ftr__list nav">
          <h4 class="heady">Coverage</h4>
            <ul>
                <hr>
                <li class="items">Local</li>
                <li class="items">National</li>
                <li class="items">International</li>
                <li class="items">Zap Delivery</li>
            </ul>
        </div>
        <div class="col-md-2 ftr__list nav">
          <h4 class="heady">Tools</h4>
            <ul>
                <hr>
                <li class="items">Shipment Tracker</li>
                <li class="items">My Account</li>
                <li class="items">Volume Calculator</li>
                <li class="items">PrePay</li>
                <li class="items">Item Advice</li>
            </ul>
        </div>
        <div class="col-md-4 ftr__list nav">
          <h4 class="heady">Follow Us</h4>
                <ul>
                  <hr>
                        <li class="items"><i class="fa fa-twitter"></i><i class="fa fa-twitch"></i><i class="fa fa-google-plus"></i><i class="fa fa-facebook-official"></i></li>
                    </ul>
                </div>
                <div class="col-md-4 ftr__list nav">
                  <h4 class="heady">Partners</h4>

                    <ul>
                        <hr>
                        <li class="items"><i class="fa fa-truck"></i><i class="fa fa-ship"></i><i class="fa fa-plane"></i></li>
                    </ul>
                </div>
    </div>
    <hr>
    <div>
        © posTrack.com Ltd 2017 All Rights Reserved. | Company Number: XXXXXXXXX
    </div><br><br><br>
</footer>
</div>
