.container-fluid{
    background: url("../../../../assets/Images/myImg.jpg") no-repeat top right;
    background-size: cover;
    padding-bottom: 50px;
}

.data{
    color:whitesmoke;
    font:bold 20px Garamond;
    text-align: center;
}

.containerAbc
{
	overflow-y: auto;
    padding: 35px 55px 0px 55px;
  	background-image: url("../../../../assets/img/pattern/footer-top-bg.png");
}


@media only screen and (max-width : 991px) {
  
/**nav-expand for footer with head and ul**/
.nav-folderized .nav h4 { cursor: pointer; }
.nav-folderized ul { max-height: 0; overflow:hidden; transition: max-height 1s ease-out; }
.nav-folderized .nav h4:after { content: "+"; float: right; }
.nav-folderized .nav.open h4:after { content: "-"; }
.nav-folderized .nav.open ul { height:auto; max-height: 500px; transition: max-height 1s ease-in !important; }
/**nav-expand for footer with head and ul**/
}

.heady{
    color:whitesmoke;
    font:bold 20px Garamond;
    padding-top:30px;
}

.items{
	color:#f5ab35;
    padding-top:10px;
}

.items i{
	color:#1878cc;
    font-size:35px;
    padding-left:20px;
}

.form-control, .form-control::placeholder{
    color:black;
}

.loginbox{
margin-top:50px;
}
.panel-pad{
	padding-top:30px;
}
.margT25{
	margin-bottom: 25px;
}
.margT10{
	margin-top:10px;
}
.margL10{
	padding-left: 25px;
}
i, label{
    color:black;
}

.slips{
     border-top: 1px solid#ddd; 
     border-bottom: 1px solid#ddd; 
     padding-top:10px;
     padding-bottom: 10px;
}

.slips a, .slips label{
    color: #337ab7;
    cursor:pointer;
}

.slips a:hover , .slips label:hover{
    color: #20b5a8;
}

.form-control{
    text-transform:none;
}