<div class="superadmin">
  <div class="container-fluid">
    <h2>ADDRESS MASTER</h2>
    <div class="row">
      <div class="col-lg-4 col-md-4 col-sm-12">
        <h4>Countries</h4>
        <input type="text" [(ngModel)]="countrySearch" placeholder="search country" style="margin-bottom:10px;">
        <ul class="scroll-wrapper">
          <li *ngFor="let country of countryList | search:'country_name':countrySearch as listCountries;let countryIndex = index;" 
          [class.selected-list]="selectedCountry?.country_id == country.country_id"
          (click)="onCountrySelected(country,$event)"
            title="select" class="box-shadow">
            <div class="relative">{{country.country_name}}
              <i class="fa fa-edit" title="edit"  data-toggle="modal" data-target="#exampleModal" 
              (click)="onCountryEdited(country)"></i>
              <i class="fa fa-window-close" aria-hidden="true" 
              (click)="onDeleteCountry(country.country_id,countryIndex)"></i>
            </div>
          </li>
        </ul>
        <!-- <span *ngIf="listCountries.length == 0">No Search Found</span> -->
        <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
          aria-hidden="true">
          <div class="modal-dialog" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Country Master</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="$event.stopPropogation()">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              <div class="modal-body">
                <div>
                  <label>Name</label>
                  <input type="text" [(ngModel)]="selectedCountryEdit.country_name"/>
                </div>
                <div>
                    <label>Country Code</label>
                    <input type="text" [(ngModel)]="selectedCountryEdit.counrty_code"/>
                </div>
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal" #countryClose>Close</button>
                <button type="button" class="btn btn-primary" (click)="addCountry()">{{selectedCountryEdit.country_id ?'Save':'Add Country'}}</button>
              </div>
            </div>
          </div>
        </div>
        <button  (click)="onCountryEdited(null)" data-toggle="modal" data-target="#exampleModal">Add New Country</button>
      </div>
      <div class="col-lg-4 col-md-4 col-sm-12">
        <h4>States In ({{selectedCountry?.country_name}})</h4>
        <input type="text" [(ngModel)]="stateSearch" placeholder="search state" style="margin-bottom:10px;">        
        <ul class="scroll-wrapper">
          <li *ngFor="let state of stateList | search:'statename':stateSearch as listState;let stateIndex = index;" title="select" class="box-shadow"
          [class.selected-list]="selectedState?.state_id == state.state_id"
          (click)="onStateSelected(state,$event)">
            <div class="relative">{{state.statename}}
              <i class="fa fa-edit" title="edit"
              (click)="onStateEdited(state)" data-toggle="modal" data-target="#exampleModal1"></i>
              <i class="fa fa-window-close" aria-hidden="true"
               (click)="onDeleteState(state.state_id,stateIndex)"></i>
            </div>
          </li>
        </ul>
        <div class="modal fade" id="exampleModal1" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel1"
          aria-hidden="true">
          <div class="modal-dialog" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">State Master</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              <div class="modal-body">
                <div>
                  <label>Name</label>
                  <input type="text" [(ngModel)]="selectedStateEdit.statename"/>
                </div>
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal" #stateClose>Close</button>
                <button type="button" class="btn btn-primary" (click)="addState()">{{selectedStateEdit.state_id?'Save':'Add State'}}</button>
              </div>
            </div>
          </div>
        </div>
        <button *ngIf="selectedCountry" (click)="onStateEdited(null)" data-toggle="modal" data-target="#exampleModal1">Add New State</button>
      </div>
      <div class="col-lg-4 col-md-4 col-sm-12">
          <h4>Districts IN ({{selectedState?.statename}})</h4>
          <input type="text" [(ngModel)]="districtSearch" placeholder="search districts" style="margin-bottom:10px;">        
          <ul class="scroll-wrapper">
            <li *ngFor="let district of districtList | search:'district_name':districtSearch as listDistrict;let districtIndex = index;" title="select" class="box-shadow"
            [class.selected-list]="selectedDistrict?.district_id == district.district_id"
            (click)="onDistrictSelected(district,$event)">
              <div class="relative">{{district.district_name}}
                <i class="fa fa-edit" title="edit"
                (click)="onDistrictEdited(district)" data-toggle="modal" data-target="#exampleModal9"></i>
                <i class="fa fa-window-close" aria-hidden="true"
                 (click)="onDeleteDistrict(district.district_id,districtIndex)"></i>
              </div>
            </li>
          </ul>
          <div class="modal fade" id="exampleModal9" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel9"
            aria-hidden="true">
            <div class="modal-dialog" role="document">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title" id="exampleModalLabel9">District Master</h5>
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                  </button>
                </div>
                <div class="modal-body">
                  <div>
                    <label>Name</label>
                    <input type="text" [(ngModel)]="selectedDistrictEdit.district_name"/>
                  </div>
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-secondary" data-dismiss="modal" #districtClose>Close</button>
                  <button type="button" class="btn btn-primary" (click)="addDistrict()">{{selectedDistrictEdit.district_id?'Save':'Add District'}}</button>
                </div>
              </div>
            </div>
          </div>
          <button *ngIf="selectedState" (click)="onDistrictEdited(null)" data-toggle="modal" data-target="#exampleModal9">Add New District</button>
        </div>
      <div class="col-lg-4 col-md-4 col-sm-12">
        <h4>Cities IN ({{selectedDistrict?.district_name}})</h4>
        <input type="text" [(ngModel)]="citySearch" placeholder="search cities" style="margin-bottom:10px;">        
        <ul class="scroll-wrapper">
          <li *ngFor="let city of cityList | search:'cityname':citySearch as listCity;let cityIndex = index;" title="select" class="box-shadow"
          [class.selected-list]="selectedCity?.city_id == city.city_id"
          (click)="onCitySelected(city,$event)">
            <div class="relative">{{city.cityname}}
              <i class="fa fa-edit" title="edit"
              (click)="onCityEdited(city)" data-toggle="modal" data-target="#exampleModal2"></i>
              <i class="fa fa-window-close" aria-hidden="true"
               (click)="onDeleteCity(city.city_id,cityIndex)"></i>
            </div>
          </li>
        </ul>
        <div class="modal fade" id="exampleModal2" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel2"
          aria-hidden="true">
          <div class="modal-dialog" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel2">City Master</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              <div class="modal-body">
                <div>
                  <label>Name</label>
                  <input type="text" [(ngModel)]="selectedCityEdit.cityname"/>
                </div>
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal" #cityClose>Close</button>
                <button type="button" class="btn btn-primary" (click)="addCity()">{{selectedCityEdit.city_id?'Save':'Add City'}}</button>
              </div>
            </div>
          </div>
        </div>
        <button *ngIf="selectedDistrict" (click)="onCityEdited(null)" data-toggle="modal" data-target="#exampleModal2">Add New City</button>
      </div>
      <div class="col-lg-4 col-md-4 col-sm-12">
          <h4>Locations IN ({{selectedCity?.cityname}})</h4>
          <input type="text" [(ngModel)]="locationSearch" placeholder="search location" style="margin-bottom:10px;">        
          <ul class="scroll-wrapper">
            <li *ngFor="let location of locationList | search:'locationname':locationSearch as listLocation;let locationIndex = index;" title="select" class="box-shadow"           
            >
              <div class="relative">{{location.location_name}}
                <i class="fa fa-edit" title="edit"
                (click)="onLocationEdited(location)" data-toggle="modal" data-target="#exampleModal3"></i>
                <i class="fa fa-window-close" aria-hidden="true"
                 (click)="onDeleteLocation(location.location_id,locationIndex)"></i>
              </div>
            </li>
          </ul>
          <div class="modal fade" id="exampleModal3" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel3"
            aria-hidden="true">
            <div class="modal-dialog" role="document">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title" id="exampleModalLabel">Location Master</h5>
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                  </button>
                </div>
                <div class="modal-body">
                  <div>
                    <label>Location</label>
                    <input type="text" [(ngModel)]="selectedLocationEdit.location_name"/>
                  </div>
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-secondary" data-dismiss="modal" #locationClose>Close</button>
                  <button type="button" class="btn btn-primary" (click)="addLocation()">{{selectedLocationEdit.location_id?'Save':'Add Location'}}</button>
                </div>
              </div>
            </div>
          </div>
          <button *ngIf="selectedCity" (click)="onLocationEdited(null)" data-toggle="modal" data-target="#exampleModal3">Add New Location</button>
        </div>
      </div>
      <div class="row">
        <div class="col-lg-4 col-md-4 col-sm-12">
            <h4>Blocks</h4>
            <input type="text" [(ngModel)]="blockSearch" placeholder="search Block" style="margin-bottom:10px;">        
            <ul class="scroll-wrapper">
              <li *ngFor="let block of blockList | search:'blockname':blockSearch as listBlock;let blockIndex = index;" title="select" class="box-shadow">
                <div class="relative">{{block.blockname}}
                  <i class="fa fa-edit" title="edit"
                  (click)="onBlockEdited(block)" data-toggle="modal" data-target="#exampleModal4"></i>
                  <i class="fa fa-window-close" aria-hidden="true"
                   (click)="onDeleteBlock(block.block_id,blockIndex)"></i>
                </div>
              </li>
            </ul>
            <div class="modal fade" id="exampleModal4" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel4"
              aria-hidden="true">
              <div class="modal-dialog" role="document">
                <div class="modal-content">
                  <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Block Master</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                      <span aria-hidden="true">&times;</span>
                    </button>
                  </div>
                  <div class="modal-body">
                    <div>
                      <label>Block</label>
                      <input type="text" [(ngModel)]="selectedBlockEdit.blockname"/>
                    </div>
                  </div>
                  <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal" #blockClose>Close</button>
                    <button type="button" class="btn btn-primary" (click)="addBlock()">{{selectedBlockEdit.block_id?'Save':'Add Block'}}</button>
                  </div>
                </div>
              </div>
            </div>
            <button (click)="onBlockEdited(null)" data-toggle="modal" data-target="#exampleModal4">Add New Block</button>
          </div>


          <div class="col-lg-4 col-md-4 col-sm-12">
              <h4>Floors</h4>
              <input type="text" [(ngModel)]="floorSearch" placeholder="search Floor" style="margin-bottom:10px;">        
              <ul class="scroll-wrapper">
                <li *ngFor="let floor of floorList | search:'floor_type':floorSearch as listFloor;let floorIndex = index;" title="select" class="box-shadow">
                  <div class="relative">{{floor.floor_type}}
                    <i class="fa fa-edit" title="edit"
                    (click)="onFloorEdited(floor)" data-toggle="modal" data-target="#exampleModal5"></i>
                    <i class="fa fa-window-close" aria-hidden="true"
                     (click)="onDeletefloor(floor.floor_id,floorIndex)"></i>
                  </div>
                </li>
              </ul>
              <div class="modal fade" id="exampleModal5" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel5"
                aria-hidden="true">
                <div class="modal-dialog" role="document">
                  <div class="modal-content">
                    <div class="modal-header">
                      <h5 class="modal-title" id="exampleModalLabel">Floor Master</h5>
                      <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                      </button>
                    </div>
                    <div class="modal-body">
                      <div>
                        <label>Floor</label>
                        <input type="text" [(ngModel)]="selectedFloorEdit.floor_type"/>
                      </div>
                    </div>
                    <div class="modal-footer">
                      <button type="button" class="btn btn-secondary" data-dismiss="modal" #floorClose>Close</button>
                      <button type="button" class="btn btn-primary" (click)="addFloor()">{{selectedFloorEdit.floor_id?'Save':'Add Floor'}}</button>
                    </div>
                  </div>
                </div>
              </div>
              <button (click)="onFloorEdited(null)" data-toggle="modal" data-target="#exampleModal5">Add New Floor</button>
            </div>
    </div>
  </div>
</div>