.superadmin
{	
	margin-top: 0px;
	padding-left: 200px;
	padding-right: 0px;
}


@media screen and (min-width:280px ) and (max-width:480px )
{
	.superadmin
{	
	margin-top: 0px;
	padding-left: 100px;
	padding-right: 0px;
}

}

.form-control{
	text-transform:none; 
	color:black;
}

.form-control::placeholder, select.formcontrol{
	font-size: 15px;
	color:#f5ab35;
}

thead{
    background-color: #f5ab35;
    color:white;
}

.badge{
	background-color: #4fb735;
	padding:5px 10px;
}

.col-xs-2, .col-xs-1{
	margin:0;
	padding:0;
}

.input-group span{
	padding-left:4px;
	padding-right:4px;
}

i{
	font-size:18px;
	color:black;
}

.fa-search{
	color:#f5ab35;
	font-size: 15px;
}

thead tr th, tbody tr td{
	text-align: center;
}

.modal{
	text-align: left;
}

td{
	color:black;
}