<div class="superadmin">
    <div class="container-fluid">
        <nav class="navbar navbar-static-top mask-overlay">
            <div class="navbar-header">
                <a class="navbar-brand" href="#">DASHBOARD</a>
            </div>

            <form class="navbar-form navbar-left">
                <div class="input-group search">
                    <input type="text" class="form-control" placeholder="Search">
                </div>
            </form>


            <ul class="nav navbar-nav">
                <li class="account"><a >Account</a></li>
                <li class="logout"><a (click)="Logout()">Logout</a></li>
            </ul>

        </nav>
    </div>

    
</div>   
        

<!--
    <div class="row row1">
        <div class="col-md-6 col-sm-6 col-xs-12">
            <div style="display: block">
                <canvas baseChart
                    [data]="pieChartData"
                    [labels]="pieChartLabels"
                    [chartType]="pieChartType"
                    (chartHover)="chartHovered1($event)"
                    (chartClick)="chartClicked1($event)"></canvas>
            </div>
        </div>

        <div class="col-md-6 col-sm-6 col-xs-12">
            <div style="display: block">
                <canvas baseChart
                    [data]="pieChartData"
                    [labels]="pieChartLabels"
                    [chartType]="pieChartType"
                    (chartHover)="chartHovered1($event)"
                    (chartClick)="chartClicked1($event)"></canvas>
            </div>
        </div>
    </div>

    <div class="row row2">
        <div class="col-md-6 col-sm-6 col-xs-12">
            <div style="display: block">
                <canvas baseChart
                    [datasets]="barChartData"
                    [labels]="barChartLabels"
                    [options]="barChartOptions"
                    [legend]="barChartLegend"
                    [chartType]="barChartType"
                    (chartHover)="chartHovered($event)"
                    (chartClick)="chartClicked($event)"></canvas>
            </div>
                <button (click)="randomize()">Update</button>
        </div>

        <div class="col-md-6 col-sm-6 col-xs-12">
            <div style="display: block">
                <canvas baseChart
                    [datasets]="barChartData"
                    [labels]="barChartLabels"
                    [options]="barChartOptions"
                    [legend]="barChartLegend"
                    [chartType]="barChartType"
                    (chartHover)="chartHovered($event)"
                    (chartClick)="chartClicked($event)"></canvas>
            </div>
                <button (click)="randomize()">Update</button>
        </div>
    </div>

    <div class="row">
        <div class="blackclr">
            <div class="col-md-3 col-sm-6">
                <div class="service">
                    <div class="data" style="border-right: 1px solid white;"><i class="fa fa-indent"></i> Smart Service</div>
                </div>
            </div>
            <div class="col-md-3 col-sm-6">
                <div class="service">
                    <div class="data" style="border-right: 1px solid white;"><i class="fa fa-check-square-o"></i> Easy Tracking</div> 
                </div>
            </div>
            <div class="col-md-3 col-sm-6">
                <div class="service">
                    <div class="data" style="border-right: 1px solid white;"><i class="fa fa-american-sign-language-interpreting"></i> Safe Hands</div>
                </div>
            </div>
            <div class="col-md-3 col-sm-6">
                <div class="service">
                    <div class="data" style="border-right: 1px solid white;"><i class="fa fa-cubes"></i> Bulk Ordering</div>
                </div>
            </div>
            <div class="col-md-3 col-sm-6">
                <div class="service">
                    <div class="data" style="border-right: 1px solid white;"><i class="fa fa-cubes"></i> Bulk Ordering</div>
                </div>
            </div>
            <div class="col-md-3 col-sm-6">
                <div class="service">
                    <div class="data" style="border-right: 1px solid white;"><i class="fa fa-cubes"></i> Bulk Ordering</div>
                </div>
            </div>
            <div class="col-md-3 col-sm-6">
                <div class="service">
                    <div class="data" style="border-right: 1px solid white;"><i class="fa fa-cubes"></i> Bulk Ordering</div>
                </div>
            </div>
            <div class="col-md-3 col-sm-6">
                <div class="service">
                    <div class="data" style="border-right: 1px solid white;"><i class="fa fa-cubes"></i> Bulk Ordering</div>
                </div>
            </div>
        </div>
    </div> 

-->