h1
{
  margin-top: 100px;
  padding:50px;
  color:#000000;
}



.data{
    color:whitesmoke;
    font:bold 20px Garamond;
    text-align: center;
}

.containerAbc
{
	overflow-y: auto;
    padding: 35px 55px 0px 55px;
  	background-image: url("../../../../assets/img/pattern/footer-top-bg.png");
}


@media only screen and (max-width : 991px) {
  
/**nav-expand for footer with head and ul**/
.nav-folderized .nav h4 { cursor: pointer; }
.nav-folderized ul { max-height: 0; overflow:hidden; transition: max-height 1s ease-out; }
.nav-folderized .nav h4:after { content: "+"; float: right; }
.nav-folderized .nav.open h4:after { content: "-"; }
.nav-folderized .nav.open ul { height:auto; max-height: 500px; transition: max-height 1s ease-in !important; }
/**nav-expand for footer with head and ul**/
}

.heady{
    color:whitesmoke;
    font:bold 20px Garamond;
    padding-top:30px;
}

.items{
	color:#f5ab35;
    padding-top:10px;
}

.items i{
	color:#1878cc;
    font-size:35px;
    padding-left:20px;
}



@media screen and (min-width : 280px) and (max-width : 768px)
{
 .row
{
margin-top: 50px;
  /*background-color: #57bcca ; */
}

}

.container-fluid{
  border-bottom: 8px solid #f5ab35;
}