<div class="container-fluid">
<br><br><br><br><br><br><br><br><br>

<!-- Image Wrapper -->
    <section class="pad-50 about-wrap">
        <span class="bg-text"> About </span>
        <div class="theme-container container">               
            <div class="row">
                <div class="col-md-6">
                    <div class="about-us pt-10">
                        <p class="fs-16 wow fadeInUp" data-wow-offset="50" data-wow-delay=".25s">
                            We provide both domestic and UK services. Whether you need a parcel couriered across town, across the country or to Great Britain, our cost-effective, friendly courier service will save you time and money.
                        </p>
                        <ul class="feature">
                            <li> 
                                <img alt="" src="assets/img/icons/icon-2.png" class="wow fadeInUp" data-wow-offset="50" data-wow-delay=".20s" /> 
                                <div class="feature-content wow rotateInDownRight" data-wow-offset="50" data-wow-delay=".30s"> 
                                    <h2 class="title-1">Fast Delivery</h2> 
                                    <p>Super fastest</p>                                            
                                </div>  
                            </li>
                            <li> 
                                <img alt="" src="assets/img/icons/icon-3.png" class="wow fadeInUp" data-wow-offset="50" data-wow-delay=".20s" /> 
                                <div class="feature-content wow rotateInDownRight" data-wow-offset="50" data-wow-delay=".30s"> 
                                    <h2 class="title-1">Secured service</h2> 
                                    <p></p>                                            Guaranteed security
                                </div>  
                            </li>
                            <li> 
                                <img alt="" src="assets/img/icons/icon-4.png" class="wow fadeInUp" data-wow-offset="50" data-wow-delay=".20s" /> 
                                <div class="feature-content wow rotateInDownRight" data-wow-offset="50" data-wow-delay=".30s"> 
                                    <h2 class="title-1">Worldwide shipping</h2> 
                                    <p>Almost anywhere</p>                                            
                                </div>  
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="col-md-6 text-center">                                
                    <img alt="" src="../../assets/img/block/courier.png" class="effect animated fadeInRight" />
                </div>
            </div>
        </div>
    </section>
    
    <!-- Cards -->
    <section class="pad-30 more-about-wrap">
        <div class="theme-container container pb-100">               
            <div class="row">
                <div class="col-md-4 col-sm-4 wow fadeInUp" data-wow-offset="50" data-wow-delay=".20s">
                    <div class="more-about clrbg-before">
                        <h2 class="title-1">what we do</h2>
                        <div class="pad-10"></div>
                        <p>We provide a low cost, reliable, local and national courier distribution service across key regional and metropolitan locations across Ireland and Northern Ireland; from Cork to Belfast and all places in between.

We offer a simplified service; there are no complicated formulas, multiple weight breaks or messy notes to complete. In fact our courier pricing structure is completely transparent.
Our company offers a diverse range of services including: door-to-door downtown delivery services, expedited delivery and much more. </p>
                    </div>
                </div>
                <div class="col-md-4 col-sm-4 wow fadeInUp" data-wow-offset="50" data-wow-delay=".30s">
                    <div class="more-about clrbg-before">
                        <h2 class="title-1">Our History</h2>
                        <div class="pad-10"></div>
                        <p>Courier Express, incorporated in 1991, is one of the leading logistics company in the world.It has the most extensive domestic network covering over 33,867 locations, and service more than 220 countries and territories worldwide through its group company DHL, the premier global brand name in express distribution services.Its warehouses are at 69 locations across the country as well as bonded warehouses at the 7 major metros of Ahmedabad, Bangalore, Chennai, Delhi, Mumbai, Kolkata and Hyderabad.</p>
                    </div>
                </div>
                <div class="col-md-4  col-sm-4 wow fadeInUp" data-wow-offset="50" data-wow-delay=".40s">
                    <div class="more-about clrbg-before">
                        <h2 class="title-1">our mission</h2>
                        <div class="pad-10"></div>
                        <p>To assure safe, secure, cost-effective and superiorservice, to our customers through highly skilledpersonnel, quality equipment, timely customer-oriented response and professional management.
                        For over 30 years, we have been delivering our clients’ critical and time-sensitive packages with urgency and expertise while saving them money and time
                        With Guaranteed Express, you can breathe easy knowing that your specialized transportation needs will be handled with care, as if it were our own.                                </p>
                    </div>
                </div>
            </div>
        </div>
    </section>
                
</div>


<!-- Footer -->
<footer class="containerAbc nav-folderized">
    <div class="row">
        <div class="col-md-2 ftr__list nav">
           <h4 class="heady">About Us</h4>
            <ul>
               <hr>
                <li class="items">Our Company</li>
                <li class="items">Our Partners</li>
                <li class="items">Terms & Conditions</li>
                <li class="items">FAQs</li>
            </ul>
        </div>
        <div class="col-md-2 ftr__list nav">
          <h4 class="heady">Delivery Preference</h4>
            <ul>
                <hr>
                <li class="items">Standard</li>
                <li class="items">Express</li>
                <li class="items">Custom</li>
            </ul>
        </div>
        <div class="col-md-2 ftr__list nav">
          <h4 class="heady">Coverage</h4>
            <ul>
                <hr>
                <li class="items">Local</li>
                <li class="items">National</li>
                <li class="items">International</li>
                <li class="items">Zap Delivery</li>
            </ul>
        </div>
        <div class="col-md-2 ftr__list nav">
          <h4 class="heady">Tools</h4>
            <ul>
                <hr>
                <li class="items">Shipment Tracker</li>
                <li class="items">My Account</li>
                <li class="items">Volume Calculator</li>
                <li class="items">PrePay</li>
                <li class="items">Item Advice</li>
            </ul>
        </div>
        <div class="col-md-4 ftr__list nav">
          <h4 class="heady">Follow Us</h4>
                <ul>
                  <hr>
                        <li class="items"><i class="fa fa-twitter"></i><i class="fa fa-twitch"></i><i class="fa fa-google-plus"></i><i class="fa fa-facebook-official"></i></li>
                    </ul>
                </div>
                <div class="col-md-4 ftr__list nav">
                  <h4 class="heady">Partners</h4>

                    <ul>
                        <hr>
                        <li class="items"><i class="fa fa-truck"></i><i class="fa fa-ship"></i><i class="fa fa-plane"></i></li>
                    </ul>
                </div>
    </div>
    <hr>
    <div>
        © posTrack.com Ltd 2017 All Rights Reserved. | Company Number: XXXXXXXXX
    </div><br><br><br>
</footer>


        