

p {
    font-family: 'Poppins', sans-serif;
    font-size: 1.1em;
    font-weight: 300;
    line-height: 1.7em;
    color: #999;
}

a, a:hover, a:focus {
    color: inherit;
    text-decoration: none;
    transition: all 0.3s;
}

.navbar {
    padding: 15px 10px;
    background: #fff;
    border: none;
    border-radius: 0;
    margin-bottom: 40px;
}

.navbar-btn {
    box-shadow: none;
    outline: none !important;
    border: none;
}

.line {
    width: 100%;
    height: 1px;
    margin: 40px 0;
}


.user
{
    text-align: center;
}


#sidebar {


    min-width: 200px;
    max-width: 200px;

    width: 200px;
    position: fixed;
       top: 0;
    /*background: #222222;*/
    background: #966CD7;
    background: #57bcca;
    color: white;
    transition: all 0.3s;
    background-image: url("../../../../assets/img/pattern/footer-top-bg.png");

   

 height: 1030px;
overflow-y: scroll;

}



/*
#sidebar.active .sidebar-header h3, #sidebar.active .CTAs {
    display: none;
}

#sidebar.active .sidebar-header strong {
    display: block;
}

#sidebar ul li a {
    text-align: left;
}

#sidebar.active ul li a {
    padding: 10px 10px;         
    text-align: center;
    font-size: 0.85em;
}

#sidebar.active ul li a i {
    margin-right:  0;
    display: block;
    font-size: 1.8em;
    margin-bottom: 5px;
}

#sidebar.active ul ul a {
    padding: 10px !important;
}

#sidebar.active a[aria-expanded="false"]::before, #sidebar.active a[aria-expanded="true"]::before {
    top: auto;
    bottom: 5px;
    right: 50%;
    -webkit-transform: translateX(50%);
    -ms-transform: translateX(50%);
    transform: translateX(50%);
}

*/

#sidebar .sidebar-header {
    padding-top: 20px;
     padding-left: 20px;
      padding-right: 20px;
    margin-top:58px;
  background: #966CD7;
  background: #57bcca;
  background-image: url("../../../../assets/img/pattern/footer-top-bg.png");
}

#sidebar .sidebar-header strong {
    display: none;
    font-size: 1.8em;
}

#sidebar ul.components {
    padding: 20px 0;
  
}

#sidebar ul li a {
    padding: 10px;
    font-size: 1.1em;
    display: block;
}
#sidebar ul li a:hover {
    color: #222222;
    background: #fff;
}
#sidebar ul li a i {
    margin-right: 10px;
}

#sidebar ul li.active > a, a[aria-expanded="true"] {
    color: white;
    background: #222222;
}


a[data-toggle="collapse"] {
    position: relative;
}

a[aria-expanded="false"]::before, a[aria-expanded="true"]::before {
    content: '\e259';
    display: block;
    position: absolute;
    right: 20px;
    font-family: 'Glyphicons Halflings';
    font-size: 0.6em;
}
a[aria-expanded="true"]::before {
    content: '\e260';
}





#content .navbar
{
     background-color: #222222 ;
}


.navbar-collapse
{
 background-color: #222222;
}

.navbar-header
{
    background-color: #222222;
}




.navbar .navbar-default .navbar-header
{
     background-color: #222222;
}


.navbar-collapse
{
 background-color: #222222;
}

.navbar
{
    background-color: #222222;
}


.navbar-default
{
    background-color: #222222;

    
}

.btn-group-vertical
{
    color:white;
    font-size: 17px;
}

.menu
{
    color:white;
}

.contentA
{
 
    margin:0px;

    padding: 0px;
    overflow-x: hidden;
}


.btn
{
    visibility: hidden;
}


@media screen and (min-width:280px ) and (max-width:480px )
{
   

#sidebar
{
  min-width: 100px;
    max-width: 100px;

   width: 100px;
    position: fixed;

    top: 0;
   
    
    
   
   
    background: #222222;
    color: #fff;
    transition: all 0.3s;
    overflow-y: scroll;
 height: 2530px;
  text-align: center;
  /*font-size: 0.90em;*/
  font-size: 1.00em;
  background-image: url("../../../../assets/img/pattern/footer-top-bg.png");

}



#sidebar ul li a {
    padding: 10px 10px;         
    text-align: center;
    font-size: 0.85em;
     text-align: center;
}



.btn
{
    visibility:visible;
}
.navbar {
    padding: 15px 10px;
    background: #fff;
    border: none;
    border-radius: 0;
    margin-bottom: 40px;
}

.navbar-btn {
    box-shadow: none;
    outline: none !important;
    border: none;
}

.line {
    width: 100%;
    height: 1px;
    margin: 40px 0;
}






#sidebar .sidebar-header {
    padding-top: 20px;
     padding-left: 20px;
      padding-right: 20px;
    margin-top:58px;
  background: #222222;
}



#sidebar .sidebar-header strong {
    display: none;
    font-size: 1.8em;
}

#sidebar ul.components {
    padding: 20px 0;
  
}

#sidebar ul li a {
    padding: 10px;
    font-size: 1.1em;
    display: block;
}
#sidebar ul li a:hover {
    color: #222222;
    background: #fff;
}
#sidebar ul li a i {
    margin-right: 10px;
}

#sidebar ul li.active > a, a[aria-expanded="true"] {
    color: white;
    background: #222222;
}


a[data-toggle="collapse"] {
    position: relative;
}

a[aria-expanded="false"]::before, a[aria-expanded="true"]::before {
    content: '\e259';
    display: block;
    position: absolute;
    right: 20px;
    font-family: 'Glyphicons Halflings';
    font-size: 0.6em;
}
a[aria-expanded="true"]::before {
    content: '\e260';
}

#content .navbar
{
     background-color: #222222 ;
}


.navbar-collapse
{
 background-color: #222222;
}

.navbar-header
{
    background-color: #222222;
}




.navbar .navbar-default .navbar-header
{
     background-color: #222222;
}


.navbar-collapse
{
 background-color: #222222;
}

.navbar
{
    background-color: #222222;
}


.navbar-default
{
    background-color: #222222;

    
}

.btn-group-vertical
{
    color:white;
    font-size: 17px;
}

.menu
{
    color:white;
}

.contentA
{
 
    margin:0px;

    padding: 0px;
    overflow-x: hidden;
}

#sidebar ul li a {
    padding: 10px 10px;         
    text-align: center;
    font-size: 0.85em;
}

#sidebar ul li a i {
    margin-right:  0;
    display: block;
    font-size: 1.8em;
    margin-bottom: 5px;
}

#sidebar ul ul a {
    padding: 10px !important;
}


#sidebar a[aria-expanded="false"],#sidebar a[aria-expanded="true"]
{
    top: auto;
    bottom: 5px;
    right: 50%;
    -webkit-transform: translateX(50%);
    -ms-transform: translateX(50%);
    transform: translateX(50%);
}

.user
{
    text-align: center;
}

}
