<!-- banner -->
<div class="container-fluid">
    <section class="banner banner-style2 mask-overlay pt-120 white-clr">
        <div class="pad-50 hidden-xs"></div>
            <div class="container-banner">
                <div class="col-md-8 col-md-offset-2 tracking-form text-left effect animated fadeInUp track" style="background:transparent;">     
                    <p class="tracker-p text-center"> TracK YouR ShipmenT  
                        <span class="glyphicon glyphicon-send" style="font-size: 20px; color:#f5ab35"></span>
                    </p>
                    <div class="row">
                        <form>
                            <div class="col-md-7 col-sm-7">
                                <div class="form-group">
                                    <input type="text" class="form-control box-shadow moby" maxlength="6" required="" placeholder="Enter Tracking / Shipment Number" #awb>
                                </div>
                            </div>
                            <div class="col-md-5 col-sm-5">
                                <div class="form-group">
                                    <button type="button" (click)="Tracko(awb.value)" class="btn-1"><i class="fa fa-rocket" id="icon1"></i></button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>  
    </section>
</div>

<!-- Banner Title <h2 class="section-title fs-48 effect animated wow fadeInUp" data-wow-offset="50" data-wow-delay=".20s"> awesome place for <br> <span class="theme-clr"> courier </span> & <span class="theme-clr"> delivery </span> services </h2>-->
 

<!-- Service Bar -->
<div class="row" id="servicelayer">
        <div class="blackclr">
            <div class="col-md-3">
                <div class="service">
                    <div class="data" style="border-right: 1px solid white;"><i class="fa fa-indent"></i> Smart Service</div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="service">
                    <div class="data" style="border-right: 1px solid white;"><i class="fa fa-check-square-o"></i> Easy Tracking</div> 
                </div>
            </div>
            <div class="col-md-3">
                <div class="service">
                    <div class="data" style="border-right: 1px solid white;"><i class="fa fa-american-sign-language-interpreting"></i> Safe Hands</div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="service">
                    <div class="data" ><i class="fa fa-cubes"></i> Bulk Ordering</div>
                </div>
            </div>
        </div>
    </div>

<!-- Delivery pic -->
<div class="container-fluid" id="delivery">
    <section class="prod-delivery">
                    <div class="theme-container container">               
                        <div class="row">
                            <div class="col-md-11 col-md-offset-1">
                                <div class="pt-120 rel-div">
                                    <div class="pb-50 hidden-xs"></div>
                                    <h2 class="section-title wow fadeInUp" data-wow-offset="50" data-wow-delay=".20s"> Get the <span class="theme-clr"> fastest </span> product delivery </h2>
                                    <p class="fs-16 wow fadeInUp" data-wow-offset="50" data-wow-delay=".25s"></p>
                                    <div class="pb-120 hidden-xs"></div>
                                </div>
                                <div class="delivery-img pt-10">
                                    <img alt="" src="assets/img/block/delivery.png" class="wow slideInLeft" data-wow-offset="50" data-wow-delay=".20s"/>
                                </div>
                            </div>
                        </div>
                    </div>
    </section>
</div>


<!-- carousel Gallery -->
<div class="row row-eq-height" id="imgal">
    <div class="well col-xs-6 text-center">
        Partners Here !
    </div>
    <div class="col-xs-6">
        <div id="carousel" class="carousel slide" data-ride="carousel">
                <ol class="carousel-indicators">
                    <li data-target="#carousel" data-slide-to="0" class="active"></li>
                    <li data-target="#carousel" data-slide-to="1"></li>
                    <li data-target="#carousel" data-slide-to="2"></li>
                    <li data-target="#carousel" data-slide-to="3"></li>
                </ol>
          
            <div class="carousel-inner">
                <div class="item active">
                    <img style="background:url('assets/Images/ship2.jpg') center center; background-size:cover">
                </div>
                <div class="item">
                    <img style="background:url('assets/Images/ship3.jpg') center center; background-size:cover">
                </div>
                <div class="item">
                    <img style="background:url('assets/Images/ship4.jpg') center center; background-size:cover">
                </div>
                <div class="item">
                    <img style="background:url('assets/Images/ship5.jpg') center center; background-size:cover">
                </div>
            </div>
        
            <a href="#carousel" data-slide="prev" class="left carousel-control">
                <span class="glyphicon glyphicon-chevron-left"></span>
            </a>
            <a href="#carousel" data-slide="next" class="right carousel-control">
                <span class="glyphicon glyphicon-chevron-right"></span>
            </a>
        </div>
      </div>
</div>
 
<!-- Footer -->
<footer class="containerAbc nav-folderized">
    <div class="row">
        <div class="col-md-2 ftr__list nav">
           <h4 class="heady">About Us</h4>
            <ul>
               <hr>
                <li class="items">Our Company</li>
                <li class="items">Our Partners</li>
                <li class="items">Terms & Conditions</li>
                <li class="items">FAQs</li>
            </ul>
        </div>
        <div class="col-md-2 ftr__list nav">
          <h4 class="heady">Delivery Preference</h4>
            <ul>
                <hr>
                <li class="items">Standard</li>
                <li class="items">Express</li>
                <li class="items">Custom</li>
            </ul>
        </div>
        <div class="col-md-2 ftr__list nav">
          <h4 class="heady">Coverage</h4>
            <ul>
                <hr>
                <li class="items">Local</li>
                <li class="items">National</li>
                <li class="items">International</li>
                <li class="items">Zap Delivery</li>
            </ul>
        </div>
        <div class="col-md-2 ftr__list nav">
          <h4 class="heady">Tools</h4>
            <ul>
                <hr>
                <li class="items">Shipment Tracker</li>
                <li class="items">My Account</li>
                <li class="items">Volume Calculator</li>
                <li class="items">PrePay</li>
                <li class="items">Item Advice</li>
            </ul>
        </div>
        <div class="col-md-4 ftr__list nav">
          <h4 class="heady">Follow Us</h4>
                <ul>
                  <hr>
                        <li class="items"><i class="fa fa-twitter"></i><i class="fa fa-twitch"></i><i class="fa fa-google-plus"></i><i class="fa fa-facebook-official"></i></li>
                    </ul>
                </div>
                <div class="col-md-4 ftr__list nav">
                  <h4 class="heady">Partners</h4>

                    <ul>
                        <hr>
                        <li class="items"><i class="fa fa-truck"></i><i class="fa fa-ship"></i><i class="fa fa-plane"></i></li>
                    </ul>
                </div>
    </div>
    <hr>
    <div>
        © posTrack.com Ltd 2017 All Rights Reserved. | Company Number: XXXXXXXXX
    </div><br><br><br>
</footer>


