<div class="top-bar font2-title1 white-clr">
    <div class="theme-container container navbar-one">
        <div class="row">
            <div class="col-md-6" style="padding:20px">
                <label id="brand">classicExpress <i class="fa fa-paper-plane" aria-hidden="true"></i></label>        
            </div>
            <div class="col-md-6" style="padding:20px">
                <p class="contact-num" style="margin-right:0px">  
                    <i class="fa fa-phone"></i> Call us now: <span class="theme-clr"> +91-9999-999-998 </span> 
                </p>
            </div>     
        </div>
    </div>
</div>
<nav class="nav navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
        <button type="button" class="btn btn-info navbar-toggle" data-toggle="collapse" data-target="#nvItem">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>             
        </button>
        <a class="navbar-brand" style="visibility: hidden">
            user<i class="fa fa-paper-plane" aria-hidden="true"></i>
        </a>
    </div>
    <div class="collapse navbar-collapse" id="nvItem"> 
        <ul class="nav navbar-nav">
            <li><a [routerLink]="['/user']" [routerLinkActive]="['active']">Home</a></li>
            <li><a [routerLink]="['/user','userBookings']">Book Now</a></li>
            <li class="dropdown" style="border-right:1px solid white;"><a data-toggle="dropdown" class="dropdown-toggle" href="#">Account Services <span class="caret"></span></a>
                <ul class="dropdown-menu">
                    <li><a [routerLink]="['/user','userProfile']">Profile</a></li>
                    <li><a >Cancellation</a></li>
                    <li><a >Complaints</a></li>
                    <li><a [routerLink]="['/user','userPchange']">Change Password</a></li>
                </ul>
            </li>
            <li style="border-left:1px solid white;border-right:1px solid white"><a >Welcome {{username}}</a></li>
        </ul>
        <ul class="nav navbar-nav navbar-right">
            <li><a style="cursor:pointer" (click)="Logout()"><span class="glyphicon glyphicon-log-in"></span> Logout</a></li>
        </ul>
    </div>
  </div>
</nav>
<div id="midContent">
    <router-outlet></router-outlet>
</div>
<!-- Footer Panel  -->
<div>
    <footer class="containerAbc nav-folderized">
        <div class="row">
            <div class="col-md-2 ftr__list nav">
            <h4 class="heady">About Us</h4>
                <ul>
                <hr>
                    <li class="items">Our Company</li>
                    <li class="items">Our Partners</li>
                    <li class="items">Terms & Conditions</li>
                    <li class="items">FAQs</li>
                </ul>
            </div>
            <div class="col-md-2 ftr__list nav">
            <h4 class="heady">Delivery Preference</h4>
                <ul>
                    <hr>
                    <li class="items">Standard</li>
                    <li class="items">Express</li>
                    <li class="items">Custom</li>
                </ul>
            </div>
            <div class="col-md-2 ftr__list nav">
            <h4 class="heady">Coverage</h4>
                <ul>
                    <hr>
                    <li class="items">Local</li>
                    <li class="items">National</li>
                    <li class="items">International</li>
                    <li class="items">Zap Delivery</li>
                </ul>
            </div>
            <div class="col-md-2 ftr__list nav">
            <h4 class="heady">Tools</h4>
                <ul>
                    <hr>
                    <li class="items">Shipment Tracker</li>
                    <li class="items">My Account</li>
                    <li class="items">Volume Calculator</li>
                    <li class="items">PrePay</li>
                    <li class="items">Item Advice</li>
                </ul>
            </div>
            <div class="col-md-4 ftr__list nav">
            <h4 class="heady">Follow Us</h4>
                    <ul>
                    <hr>
                            <li class="items"><i class="fa fa-twitter"></i><i class="fa fa-twitch"></i><i class="fa fa-google-plus"></i><i class="fa fa-facebook-official"></i></li>
                        </ul>
                    </div>
                    <div class="col-md-4 ftr__list nav">
                    <h4 class="heady">Partners</h4>

                        <ul>
                            <hr>
                            <li class="items"><i class="fa fa-truck"></i><i class="fa fa-ship"></i><i class="fa fa-plane"></i></li>
                        </ul>
                    </div>
        </div>
        <hr>
        <div>
            © posTrack.com Ltd 2017 All Rights Reserved. | Company Number: XXXXXXXXX
        </div><br><br><br>
    </footer>
</div>