<div class="container-fluid">

<div class="bs-example">
    <div class="panel-group" id="accordion" >
            <h2>Pick-up</h2>

        <div class="panel panel-default">
            <div class="panel-heading">
                <h4 class="panel-title">
                     <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne"><span class="glyphicon glyphicon-plus"></span>How can I schedule my Pick-up online at any time in First Flight?</a>
                </h4>
            </div>
            <div id="collapseOne" class="panel-collapse collapse">
                <div class="panel-body">
                    <p>Ans : This link will direct you to schedule online pick up at any time? <a href="https://www.tutorialrepublic.com/html-tutorial/" target="_blank">Learn more.</a></p>
                </div>
            </div>
        </div>


<div class="panel panel-default">
            <div class="panel-heading">
                <h4 class="panel-title">
                    <a data-toggle="collapse" data-parent="#accordion" href="#collapseTwo"><span class="glyphicon glyphicon-plus"></span> Do you provide door to door Pickup Service?</a>
                </h4>
            </div>
            <div id="collapseTwo" class="panel-collapse collapse">
                <div class="panel-body">
                    <p>Ans :- Yes we provide door to door Pickup Service. <a href="https://www.tutorialrepublic.com/twitter-bootstrap-tutorial/" target="_blank">Learn more.</a></p>
                </div>
            </div>
        </div> 




        <div class="panel panel-default">
            <div class="panel-heading">
                <h4 class="panel-title">
                    <a data-toggle="collapse" data-parent="#accordion" href="#collapseThree"><span class="glyphicon glyphicon-plus"></span>Who will collect my consignment?</a>
                </h4>
            </div>
            <div id="collapseThree" class="panel-collapse collapse">
                <div class="panel-body">
                    <p>Ans :- Our Field representative will collect your consignment</p>
                </div>
            </div>
        </div> 





       <div class="panel panel-default">
            <div class="panel-heading">
                <h4 class="panel-title">
                    <a data-toggle="collapse" data-parent="#accordion" href="#collapseFour"><span class="glyphicon glyphicon-plus"></span>What do I do if my shipment is not picked up?</a>
                </h4>
            </div>
            <div id="collapseFour" class="panel-collapse collapse">
                <div class="panel-body">
                    <p>Ans :- If the shipment is not picked up, you can send in your queries with contact details on ffcl@firstflight.net . We shall get back to you within 24 hrs.. <a href="https://www.tutorialrepublic.com/twitter-bootstrap-tutorial/" target="_blank">Learn more.</a></p>
                </div>
            </div>
        </div> 








        <h2>Booking</h2>

             <div class="panel panel-default">
            <div class="panel-heading">
                <h4 class="panel-title">
                    <a data-toggle="collapse" data-parent="#accordion" href="#collapseFive"><span class="glyphicon glyphicon-plus"></span>How can I know whether a particular location is served by First Flight Couriers Ltd.. ?</a>
                </h4>
            </div>
            <div id="collapseFive" class="panel-collapse collapse">
                <div class="panel-body">
                    <p>Ans:- You can visit Pin code locator on our website <a href="https://www.tutorialrepublic.com/twitter-bootstrap-tutorial/" target="_blank">Learn more.</a></p>
                </div>
            </div>
        </div> 



         <div class="panel panel-default">
            <div class="panel-heading">
                <h4 class="panel-title">
                    <a data-toggle="collapse" data-parent="#accordion" href="#collapseSix"><span class="glyphicon glyphicon-plus"></span> The pin code I need is not listed under serviceable pin codes. What do I do?</a>
                </h4>
            </div>
            <div id="collapseSix" class="panel-collapse collapse">
                <div class="panel-body">
                    <p>Ans:- If the pin code is not serviceable then we shall not be able to do the pick-up/Booking. <a href="https://www.tutorialrepublic.com/twitter-bootstrap-tutorial/" target="_blank">Learn more.</a></p>
                </div>
            </div>
        </div> 


   

        <div class="panel panel-default">
            <div class="panel-heading">
                <h4 class="panel-title">
                    <a data-toggle="collapse" data-parent="#accordion" href="#collapseSeven"><span class="glyphicon glyphicon-plus"></span> Where can I find the regulatory requirements for my domestic consignments?
                    </a>
                </h4>
            </div>
            <div id="collapseSeven" class="panel-collapse collapse">
                <div class="panel-body">
                    <p>Ans:- You can contact our Customer service team. <a href="https://www.tutorialrepublic.com/twitter-bootstrap-tutorial/" target="_blank">Learn more.</a></p>
                </div>
            </div>
        </div>
        <div class="panel panel-default">
            <div class="panel-heading">
                <h4 class="panel-title">
                    <a data-toggle="collapse" data-parent="#accordion" href="#collapseEight"><span class="glyphicon glyphicon-plus"></span> What kind of consignments cannot be carried by First Flight?
                    </a>
                </h4>
            </div>
            <div id="collapseEight" class="panel-collapse collapse">
                <div class="panel-body">
                    <p>Ans:- You can visit Prohibited Items on our website ( Click Here ) <a href="https://www.tutorialrepublic.com/twitter-bootstrap-tutorial/" target="_blank">Learn more.</a></p>
                </div>
            </div>
        </div>
        <div class="panel panel-default">
            <div class="panel-heading">
                <h4 class="panel-title">
                    <a data-toggle="collapse" data-parent="#accordion" href="#collapseNine"><span class="glyphicon glyphicon-plus"></span> Can I tie parcels together?
                    </a>
                </h4>
            </div>
            <div id="collapseNine" class="panel-collapse collapse">
                <div class="panel-body">
                    <p>Ans:- You cannot tie the parcels together; the pieces should be handed over to us separately at the time of pick-up.<a href="https://www.tutorialrepublic.com/twitter-bootstrap-tutorial/" target="_blank">Learn more.</a></p>
                </div>
            </div>
        </div>
        <h2>Deliveries</h2>
        <div class="panel panel-default">
            <div class="panel-heading">
                <h4 class="panel-title">
                    <a data-toggle="collapse" data-parent="#accordion" href="#collapseTen"><span class="glyphicon glyphicon-plus"></span>Do you deliver on Sundays?
                    </a>
                </h4>
            </div>
            <div id="collapseTen" class="panel-collapse collapse">
                <div class="panel-body">
                    <p>Ans: Yes we deliver, but only for specific pin code and Tariff rate may differ from the normal rates.<a href="https://www.tutorialrepublic.com/twitter-bootstrap-tutorial/" target="_blank">Learn more.</a></p>
                </div>
            </div>
        </div>
        <div class="panel panel-default">
            <div class="panel-heading">
                <h4 class="panel-title">
                    <a data-toggle="collapse" data-parent="#accordion" href="#collapseEleven"><span class="glyphicon glyphicon-plus"></span>Is it mandatory for the recipient to be available in person to receive the consignment?
                    </a>
                </h4>
            </div>
            <div id="collapseEleven" class="panel-collapse collapse">
                <div class="panel-body">
                    <p>Ans:- It is not mandatory for the recipient to be available for address specific delivery.</p>
                </div>
            </div>
        </div>
        <div class="panel panel-default">
            <div class="panel-heading">
                <h4 class="panel-title">
                    <a data-toggle="collapse" data-parent="#accordion" href="#collapseTwelve"><span class="glyphicon glyphicon-plus"></span>Can I collect my consignment from your branch?
                    </a>
                </h4>
            </div>
            <div id="collapseTwelve" class="panel-collapse collapse">
                <div class="panel-body">
                    <p>Ans: Yes you can collect your consignment with proper identification proof, unless it is securitized item such as Pan Card, Credit Card, Debit Card, Pin mailer same will be only delivered to the address mentioned on the Consignment.</p>
                </div>
            </div>
        </div>
        <div class="panel panel-default">
            <div class="panel-heading">
                <h4 class="panel-title">
                    <a data-toggle="collapse" data-parent="#accordion" href="#collapseThirteen"><span class="glyphicon glyphicon-plus"></span>Should the recipient acknowledge the consignment if it appears to be damaged?
                    </a>
                </h4>
            </div>
            <div id="collapseThirteen" class="panel-collapse collapse">
                <div class="panel-body">
                    <p>Ans:- Yes, the recipient should acknowledge the consignment and put a remark on the delivery run sheet at the time of delivery specifying the status of the content received.</p>
                </div>
            </div>
        </div>
        <h2>Chargeable Weight</h2>                
        <div class="panel panel-default">
            <div class="panel-heading">
                <h4 class="panel-title">
                    <a data-toggle="collapse" data-parent="#accordion" href="#collapseFourteen"><span class="glyphicon glyphicon-plus"></span>What happens if the weight of the parcel is above the stated weight?
                    </a>
                </h4>
            </div>
            <div id="collapseFourteen" class="panel-collapse collapse">
                <div class="panel-body">
                    <p>Ans :- Charges will be applicable as per the actual weight done at our Booking office.</p>
                </div>
            </div>
        </div>
        <div class="panel panel-default">
            <div class="panel-heading">
                <h4 class="panel-title">
                    <a data-toggle="collapse" data-parent="#accordion" href="#collapseFifteen"><span class="glyphicon glyphicon-plus"></span>What happens if the weight is less?
                    </a>
                </h4>
            </div>
            <div id="collapseFifteen" class="panel-collapse collapse">
                <div class="panel-body">
                    <p>Ans:- Charges will be applicable as per the actual weight done at our Booking office.
                    </p>
                </div>
            </div>
        </div>
        <div class="panel panel-default">
            <div class="panel-heading">
                <h4 class="panel-title">
                    <a data-toggle="collapse" data-parent="#accordion" href="#collapseSixteen"><span class="glyphicon glyphicon-plus"></span>What is volumetric weight?
                    </a>
                </h4>
            </div>
            <div id="collapseSixteen" class="panel-collapse collapse">
                <div class="panel-body">
                    <p>Ans :- Volumetric weight (Dimensional weight), is a pricing technique for freight transport (including courier and postal services), which uses an estimated weight that is calculated from the length, width and height of a package.
                    </p>
                </div>
            </div>
        </div>
        <div class="panel panel-default">
            <div class="panel-heading">
                <h4 class="panel-title">
                    <a data-toggle="collapse" data-parent="#accordion" href="#collapseSeventeen"><span class="glyphicon glyphicon-plus"></span>What weight do you consider?
                    </a>
                </h4>
            </div>
            <div id="collapseSeventeen" class="panel-collapse collapse">
                <div class="panel-body">
                    <p>Ans:- You will be charged the higher of the actual or volumetric weight.
                    </p>
                </div>
            </div>
        </div>
        <div class="panel panel-default">
            <div class="panel-heading">
                <h4 class="panel-title">
                    <a data-toggle="collapse" data-parent="#accordion" href="#collapseEighteen"><span class="glyphicon glyphicon-plus"></span>When will I be charged volumemetric weight for a consignment
                    </a>
                </h4>
            </div>
            <div id="collapseEighteen" class="panel-collapse collapse">
                <div class="panel-body">
                    <p>Ans:- If the volume metric weight of the consignment is more than the actual /Dead weight, then volumemetric weight will be applicable.
                    </p>
                </div>
            </div>
        </div>
        <div class="panel panel-default">
            <div class="panel-heading">
                <h4 class="panel-title">
                    <a data-toggle="collapse" data-parent="#accordion" href="#collapseNinteen"><span class="glyphicon glyphicon-plus"></span>How do I track my consignment?
                    </a>
                </h4>
            </div>
            <div id="collapseNinteen" class="panel-collapse collapse">
                <div class="panel-body">
                    <p>Ans:- You can visit our website www.firstflight.net to track your Consignment </p>
                </div>
            </div>
        </div>
        <h2>Tracking & Complaints</h2>
        <div class="panel panel-default">
            <div class="panel-heading">
                <h4 class="panel-title">
                    <a data-toggle="collapse" data-parent="#accordion" href="#collapseTwenty"><span class="glyphicon glyphicon-plus"></span>How do I know the delivery status of my consignment?
                    </a>
                </h4>
            </div>
            <div id="collapseTwenty" class="panel-collapse collapse">
                <div class="panel-body">
                    <p>Ans:- If the status of your consignment is not available on our website you can send in your queries with contact details on ffcl@firstflight.net . We shall get back to you within 24 hrs. </p>
                </div>
            </div>
        </div>
        <div class="panel panel-default">
            <div class="panel-heading">
                <h4 class="panel-title">
                    <a data-toggle="collapse" data-parent="#accordion" href="#collapseTwentyOne"><span class="glyphicon glyphicon-plus"></span>Where can I find information on a consignment that has been sent to me?
                    </a>
                </h4>
            </div>
            <div id="collapseTwentyOne" class="panel-collapse collapse">
                <div class="panel-body">
                    <p>Ans:- You can visit our website www.firstflight.net to track your Consignment</p>
                </div>
            </div>
        </div>
        <div class="panel panel-default">
            <div class="panel-heading">
                <h4 class="panel-title">
                    <a data-toggle="collapse" data-parent="#accordion" href="#collapseTwentyTwo"><span class="glyphicon glyphicon-plus"></span>The tracking results are showing that my consignments is going to a different destination than the initially address it was addressed to
                        
                    </a>
                </h4>
            </div>
            <div id="collapseTwentyTwo" class="panel-collapse collapse">
                <div class="panel-body">
                    <p>Ans:- You can send in your queries with contact details on ffcl@firstflight.net . We shall get back to you within 24 hrs. </p>
                </div>
            </div>
        </div>
        <div class="panel panel-default">
            <div class="panel-heading">
                <h4 class="panel-title">
                    <a data-toggle="collapse" data-parent="#accordion" href="#collapseTwentyThree"><span class="glyphicon glyphicon-plus"></span>
                        I need help on a consignment which I have sent through First Flight, and assistance on how to lodge a complaint?  
                    </a>
                </h4>
            </div>
            <div id="collapseTwentyThree" class="panel-collapse collapse">
                <div class="panel-body">
                    <p>Ans:- You can send in your queries with contact details on ffcl@firstflight.net . We shall get back to you within 24 hrs.
                    </p>
                </div>
            </div>
        </div><div class="panel panel-default">
            <div class="panel-heading">
                <h4 class="panel-title">
                    <a data-toggle="collapse" data-parent="#accordion" href="#collapseTwentyFour"><span class="glyphicon glyphicon-plus"></span>How do I contact your customer care division?
                        
                    </a>
                </h4>
            </div>
            <div id="collapseTwentyFour" class="panel-collapse collapse">
                <div class="panel-body">
                    <p>Ans : You can contact the Customer service team, the contact details are available on our website </p>
                </div>
            </div>
        </div>
        <h2>Others</h2>
        <div class="panel panel-default">
            <div class="panel-heading">
                <h4 class="panel-title">
                    <a data-toggle="collapse" data-parent="#accordion" href="#collapseTwentyFive"><span class="glyphicon glyphicon-plus"></span>How do I know more about First Flight and its services?
                        
                    </a>
                </h4>
            </div>
            <div id="collapseTwentyFive" class="panel-collapse collapse">
                <div class="panel-body">
                    <p>Ans:- You can visit our website for all the details required </p>
                </div>
            </div>
        </div>
        <div class="panel panel-default">
            <div class="panel-heading">
                <h4 class="panel-title">
                    <a data-toggle="collapse" data-parent="#accordion" href="#collapseTwentySix"><span class="glyphicon glyphicon-plus"></span>What is the risk Surcharge?
                        
                    </a>
                </h4>
            </div>
            <div id="collapseTwentySix" class="panel-collapse collapse out">
                <div class="panel-body">
                    <p>Ans:- Automatic Risk Coverage is ensured for documents and parcels limited to actual loss of Rs. 5000/- and Rs. 10,000/- respectively,whichever is less. Consignor shall not be entitled for a claim, if he holds a marine policy. Automatic Risk Coverage Surcharge shall be applicable for non-documents valued over Rs. 10,000/-. Non-	documents valued between Rs. 10,001/- to Rs. 20,000/- shall be charged Rs. 5/- and an additional Rs. 5/- for every multiple of Rs. 10,000/- or part thereof, up to a maximum limit of Rs. 100,000/-.Value limit of acceptance is Rs. 100,000/-. </p>
                </div>
            </div>
        </div>
        <div class="panel panel-default">
            <div class="panel-heading">
                <h4 class="panel-title">
                    <a data-toggle="collapse" data-parent="#accordion" href="#collapseTwentySeven"><span class="glyphicon glyphicon-plus"></span>How Can I become a Business Associate with First Fight?
                        
                    </a>
                </h4>
            </div>
            <div id="collapseTwentySeven" class="panel-collapse collapse out">
                <div class="panel-body">
                    <p>Ans : You can visit partner's page on our web site send in your inquiry our representative will get back to you at the earliest </p>
                </div>
            </div>
        </div>
    </div>
</div>

</div>



<footer class="containerAbc nav-folderized">
    <div class="row">
        <div class="col-md-2 ftr__list nav">
           <h4 class="heady">About Us</h4>
            <ul>
               <hr>
                <li class="items">Our Company</li>
                <li class="items">Our Partners</li>
                <li class="items">Terms & Conditions</li>
                <li class="items">FAQs</li>
            </ul>
        </div>
        <div class="col-md-2 ftr__list nav">
          <h4 class="heady">Delivery Preference</h4>
            <ul>
                <hr>
                <li class="items">Standard</li>
                <li class="items">Express</li>
                <li class="items">Custom</li>
            </ul>
        </div>
        <div class="col-md-2 ftr__list nav">
          <h4 class="heady">Coverage</h4>
            <ul>
                <hr>
                <li class="items">Local</li>
                <li class="items">National</li>
                <li class="items">International</li>
                <li class="items">Zap Delivery</li>
            </ul>
        </div>
        <div class="col-md-2 ftr__list nav">
          <h4 class="heady">Tools</h4>
            <ul>
                <hr>
                <li class="items">Shipment Tracker</li>
                <li class="items">My Account</li>
                <li class="items">Volume Calculator</li>
                <li class="items">PrePay</li>
                <li class="items">Item Advice</li>
            </ul>
        </div>
        <div class="col-md-4 ftr__list nav">
          <h4 class="heady">Follow Us</h4>
                <ul>
                  <hr>
                        <li class="items"><i class="fa fa-twitter"></i><i class="fa fa-twitch"></i><i class="fa fa-google-plus"></i><i class="fa fa-facebook-official"></i></li>
                    </ul>
                </div>
                <div class="col-md-4 ftr__list nav">
                  <h4 class="heady">Partners</h4>

                    <ul>
                        <hr>
                        <li class="items"><i class="fa fa-truck"></i><i class="fa fa-ship"></i><i class="fa fa-plane"></i></li>
                    </ul>
                </div>
    </div>
    <hr>
    <div>
        © posTrack.com Ltd 2017 All Rights Reserved. | Company Number: XXXXXXXXX
    </div><br><br><br>
</footer>